$white-color: #ffffff;
$concrete-color: #f2f2f2;
$mercury-color: #e6e6e6;
$silver-color: #cccccc;
$nobel-color: #b3b3b3;
$dusty-gray-color: #999999;
$grey-color: #808080;
$dove-color: #666666;
$tundora-color: #4d4d4d;
$black-color: #000000;

$citrus-color: #a5c309;
$fountain-blue-color: #54bbab;
$deep-sea-color: #008558;



$font-family-base: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// $font-family-base;
// $font-size-base;
// $line-height-base;
// $text-color;
// $body-bg;

$input-border-radius: 3px;
