# Logs
logs
*.log

# Build directory
build

# Package-lock file from npm
package-lock.json

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# OSX hidden files
.DS_Store

# VS Code files
.vscode